* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: grid;
    gap: 0px;
}

.question {
    width: 100vw;
    height: 75vh;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 2px solid black;
}

.options {
    display: grid;
    grid-template-areas: 'yes no';
    justify-content: center;
}

.yes, .no {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 50vw;
    height: 25vh;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
}